
body {
    margin: auto;
    max-width: 1400px;
    min-width: 800px;
    font-family: 'Montserrat';
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(image/gameBack.png);
}

.head {
    display: flex;
    justify-content: space-between;
}

.dataBlock {
    position: relative;
    margin-top: 44px;
    margin-left: 72px;
}
.circle {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 136px;
    height: 136px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
    background-color: #FFFFFF;
}

.star {
    text-align: center;
    line-height: 71px;
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;
    width: 71px;
    height: 69px;
    background-image: url(image/Vector.png);
}

.score {
    position: relative;
    top: -115px;
    left: 50px;
    z-index: 1;
    width: 232px;
    height: 60px;
    box-sizing: border-box;
    border-radius: 35px;
    background-color: #A0B4BE;
    border: 10px solid #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25),
                0 0 10px rgba(0, 0, 0, 0.25) inset;
    font-size: 35px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: end ;
    padding-right: 48px;
}

.life {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    top: -115px;
    left: 50px;
    z-index: 0;
    width: 193px;
    height: 46px;
    box-sizing: border-box;
    border-radius: 23px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;
    padding-right: 13px;
}
.life__heart {
    width: 21px;
    height: 20px;
    background: url(image/HeartGrey.png) no-repeat;
    padding-right: 6px;

}
.life__heart-active {
    width: 21px;
    height: 20px;
    background: url(image/HeartRed.png) no-repeat;
    padding-right: 6px;

}
.btn {
    display: flex;
    margin-top: 44px;
    margin-right: 59px;

}

.btn__start {
    display: flex;
    justify-content: center;
    width: 217px;
    height: 55px;
    background-color: #FFFFFF;
    border-radius: 27.5px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: #27A8F3;
    margin-right: 33px;
}
.btn__start:hover {
    background-color: #27A8F3;
    border: 8px solid #FFFFFF;
    color: #FFFFFF;
}
.btn__start-text {
    width: 91px;
    height: 25px;
    
}
.btn__info {
    width: 55px;
    height: 55px;
    background-color: #FFFFFF;
    border-radius: 27.5px;
    border: none;
    font-size: 30px;
    font-weight: bold;
    color: #27A8F3;
}
.btn__info:hover {
    background-color: #27A8F3;
    border: 8px solid #FFFFFF;
    color: #FFFFFF;
}

.gameField {
    display: flex;
    justify-content: center;
}
.gameField__wrap {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 920px;
}
.gameField__mink {
    width: 225px;
    height: 167px;
    background: url(image/mink.png)no-repeat;
    margin-right: 40px;
}
.gameField__mink-spec {
    margin-top: 60px;
}

.gameOver {
    display: none;
    align-self: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    max-width: 821px;
    min-width: 500px;
    height: 580px;
    margin: 10% 10% 10% 0;

}
.gameOver__title {
    position: relative;
    top: 60px;
    max-width: 517px;
    min-width: 420px;
    height: 96px;
    background-color: #FFFFFF;
    border-radius: 48px;
    font-size: 35px;
    font-weight: bold;
    color: #27A8F3;
    text-align: center;
    line-height: 96px;
}
.gameOver__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 821px;
    min-width: 700px;
    height: 503px;
    background-color: #27A8F3;
    border: 23px solid #FFFFFF;
    border-radius: 65px;
    color: #FFFFFF;
    font-weight: bold;
    padding-top: 75px;

}

.main__title {
    width: 492px;
    height: 79px;
    text-align: center;
    font-size: 29px;
    
}
.main__score {
    width: 628px;
    height: 194px;
    font-size: 160px;
    text-align: center;
    margin-top: -50px;

}
.main__scoreText {
    width: 292px;
    height: 79px;
    font-size: 70px;
    text-align: center;
    margin-top: -50px;
}
.gameOver__btn {
    position: relative;
    top: -40px;
    width: 241px;
    height: 61px;
    border: 8px solid #FFFFFF;
    border-radius: 31px;
    background-color: #FFE500;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    color: #FFFFFF;
}
.gameOver__btn:hover {
    background-color: #FFC700;
}

.gameRules {
    display: none;
    align-self: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    max-width: 821px;
    min-width: 500px;
    height: 580px;
    margin: 10% 10% 10% 0;

}
.gameRules__title {
    position: relative;
    top: 60px;
    max-width: 517px;
    min-width: 420px;
    height: 96px;
    background-color: #FFFFFF;
    border-radius: 48px;
    font-size: 35px;
    font-weight: bold;
    color: #27A8F3;
    text-align: center;
    line-height: 96px;
}
.gameRules__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 821px;
    min-width: 700px;
    height: 503px;
    background-color: #27A8F3;
    /* background: url(image/Rules.svg) no-repeat; */
    border: 23px solid #FFFFFF;
    border-radius: 65px;
    color: #FFFFFF;
    font-weight: bold;
    padding-top: 50px;

}
.listRules {
    width: 550px;
}
.gameRules__btn {
    position: relative;
    top: -40px;
    width: 241px;
    height: 61px;
    border: 8px solid #FFFFFF;
    border-radius: 31px;
    background-color: #FFE500;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    color: #FFFFFF;
}
.gameRules__btn:hover {
    background-color: #FFC700;
}